@model JapaneWebsite.Models.ViewModel
<head>
    <script>

        $(document).ready(function () {

            countDown('12:10')
            $('#definition').on('click', function () {
                $("form").submit();
            });

            $('input#hintbtn39').on('click', function () {
                $("#div34").toggle();
                $("#div35").toggle();
                $("#div36").toggle();
                $("#div37").toggle();
                $("#div47").toggle();
                $("#hintdiv41").toggle();
            });
            $("#select30").click(function () {
                $("#content46").css("color", "#f48c42");
                $("#content42").css("color", "black");
                $("#content43").css("color", "black");
                $("#content44").css("color", "black");

            });

            $("#select31").click(function () {
                $("#content42").css("color", "#f48c42");
                $("#content46").css("color", "black");
                $("#content43").css("color", "black");
                $("#content44").css("color", "black");

            });

            $("#select32").click(function () {
                $("#content43").css("color", "#f48c42");
                $("#content46").css("color", "black");
                $("#content42").css("color", "black");
                $("#content44").css("color", "black");

            });

            $("#select33").click(function () {
                $("#content44").css("color", "#f48c42");
                $("#content42").css("color", "black");
                $("#content43").css("color", "black");
                $("#content46").css("color", "black");

            });

            $('input#hintbtn69').on('click', function () {
                $("#div64").toggle();
                $("#div65").toggle();
                $("#div66").toggle();
                $("#div67").toggle();
                $("#div77").toggle();
                $("#hintdiv71").toggle();
            });
            $("#select60").click(function () {
                $("#content76").css("color", "#f48c42");
                $("#content72").css("color", "black");
                $("#content73").css("color", "black");
                $("#content74").css("color", "black");

            });

            $("#select61").click(function () {
                $("#content72").css("color", "#f48c42");
                $("#content76").css("color", "black");
                $("#content73").css("color", "black");
                $("#content74").css("color", "black");

            });

            $("#select62").click(function () {
                $("#content73").css("color", "#f48c42");
                $("#content76").css("color", "black");
                $("#content72").css("color", "black");
                $("#content74").css("color", "black");

            });

            $("#select63").click(function () {
                $("#content74").css("color", "#f48c42");
                $("#content72").css("color", "black");
                $("#content73").css("color", "black");
                $("#content76").css("color", "black");

            });

            $('input#hintbtn99').on('click', function () {
                $("#div94").toggle();
                $("#div95").toggle();
                $("#div96").toggle();
                $("#div97").toggle();
                $("#div107").toggle();
                $("#hintdiv101").toggle();
            });
            $("#select90").click(function () {
                $("#content106").css("color", "#f48c42");
                $("#content102").css("color", "black");
                $("#content103").css("color", "black");
                $("#content104").css("color", "black");

            });

            $("#select91").click(function () {
                $("#content102").css("color", "#f48c42");
                $("#content106").css("color", "black");
                $("#content103").css("color", "black");
                $("#content104").css("color", "black");

            });

            $("#select92").click(function () {
                $("#content103").css("color", "#f48c42");
                $("#content106").css("color", "black");
                $("#content102").css("color", "black");
                $("#content104").css("color", "black");

            });

            $("#select93").click(function () {
                $("#content104").css("color", "#f48c42");
                $("#content102").css("color", "black");
                $("#content103").css("color", "black");
                $("#content106").css("color", "black");

            });

            $('input#hintbtn129').on('click', function () {
                $("#div124").toggle();
                $("#div125").toggle();
                $("#div126").toggle();
                $("#div127").toggle();
                $("#div137").toggle();
                $("#hintdiv131").toggle();
            });
            $("#select120").click(function () {
                $("#content136").css("color", "#f48c42");
                $("#content132").css("color", "black");
                $("#content133").css("color", "black");
                $("#content134").css("color", "black");

            });

            $("#select121").click(function () {
                $("#content132").css("color", "#f48c42");
                $("#content136").css("color", "black");
                $("#content133").css("color", "black");
                $("#content134").css("color", "black");

            });

            $("#select122").click(function () {
                $("#content133").css("color", "#f48c42");
                $("#content136").css("color", "black");
                $("#content132").css("color", "black");
                $("#content134").css("color", "black");

            });

            $("#select123").click(function () {
                $("#content134").css("color", "#f48c42");
                $("#content132").css("color", "black");
                $("#content133").css("color", "black");
                $("#content136").css("color", "black");

            });

            $('input#hintbtn159').on('click', function () {
                $("#div154").toggle();
                $("#div155").toggle();
                $("#div156").toggle();
                $("#div157").toggle();
                $("#div167").toggle();
                $("#hintdiv161").toggle();
            });
            $("#select150").click(function () {
                $("#content166").css("color", "#f48c42");
                $("#content162").css("color", "black");
                $("#content163").css("color", "black");
                $("#content164").css("color", "black");

            });

            $("#select151").click(function () {
                $("#content162").css("color", "#f48c42");
                $("#content166").css("color", "black");
                $("#content163").css("color", "black");
                $("#content164").css("color", "black");

            });

            $("#select152").click(function () {
                $("#content163").css("color", "#f48c42");
                $("#content166").css("color", "black");
                $("#content162").css("color", "black");
                $("#content164").css("color", "black");

            });

            $("#select153").click(function () {
                $("#content164").css("color", "#f48c42");
                $("#content162").css("color", "black");
                $("#content163").css("color", "black");
                $("#content166").css("color", "black");

            });

            $('input#hintbtn189').on('click', function () {
                $("#div184").toggle();
                $("#div185").toggle();
                $("#div186").toggle();
                $("#div187").toggle();
                $("#div197").toggle();
                $("#hintdiv191").toggle();
            });
            $("#select180").click(function () {
                $("#content196").css("color", "#f48c42");
                $("#content192").css("color", "black");
                $("#content193").css("color", "black");
                $("#content194").css("color", "black");

            });

            $("#select181").click(function () {
                $("#content192").css("color", "#f48c42");
                $("#content196").css("color", "black");
                $("#content193").css("color", "black");
                $("#content194").css("color", "black");

            });

            $("#select182").click(function () {
                $("#content193").css("color", "#f48c42");
                $("#content196").css("color", "black");
                $("#content192").css("color", "black");
                $("#content194").css("color", "black");

            });

            $("#select183").click(function () {
                $("#content194").css("color", "#f48c42");
                $("#content192").css("color", "black");
                $("#content193").css("color", "black");
                $("#content196").css("color", "black");

            });

            $('input#hintbtn219').on('click', function () {
                $("#div214").toggle();
                $("#div215").toggle();
                $("#div216").toggle();
                $("#div217").toggle();
                $("#div227").toggle();
                $("#hintdiv221").toggle();
            });
            $("#select210").click(function () {
                $("#content226").css("color", "#f48c42");
                $("#content222").css("color", "black");
                $("#content223").css("color", "black");
                $("#content224").css("color", "black");

            });

            $("#select211").click(function () {
                $("#content222").css("color", "#f48c42");
                $("#content226").css("color", "black");
                $("#content223").css("color", "black");
                $("#content224").css("color", "black");

            });

            $("#select212").click(function () {
                $("#content223").css("color", "#f48c42");
                $("#content226").css("color", "black");
                $("#content222").css("color", "black");
                $("#content224").css("color", "black");

            });

            $("#select213").click(function () {
                $("#content224").css("color", "#f48c42");
                $("#content222").css("color", "black");
                $("#content223").css("color", "black");
                $("#content226").css("color", "black");

            });

            $('input#hintbtn249').on('click', function () {
                $("#div244").toggle();
                $("#div245").toggle();
                $("#div246").toggle();
                $("#div247").toggle();
                $("#div257").toggle();
                $("#hintdiv251").toggle();
            });
            $("#select240").click(function () {
                $("#content256").css("color", "#f48c42");
                $("#content252").css("color", "black");
                $("#content253").css("color", "black");
                $("#content254").css("color", "black");

            });

            $("#select241").click(function () {
                $("#content252").css("color", "#f48c42");
                $("#content256").css("color", "black");
                $("#content253").css("color", "black");
                $("#content254").css("color", "black");

            });

            $("#select242").click(function () {
                $("#content253").css("color", "#f48c42");
                $("#content256").css("color", "black");
                $("#content252").css("color", "black");
                $("#content254").css("color", "black");

            });

            $("#select243").click(function () {
                $("#content254").css("color", "#f48c42");
                $("#content252").css("color", "black");
                $("#content253").css("color", "black");
                $("#content256").css("color", "black");

            });

        });
    </script>
</head>
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
@{
        foreach (var item in Model.questions)
        {
            <div>
                <div class="countdown">残時間：9:03</div>
            </div> <div style="height: 10px;"></div>
            <p>
                @item.Name
                <br />
                <input name="radioTest38" type="radio" value="1">@item.Option1
                <br />
                <input name="radioTest38" type="radio" value="2">@item.Option2
                <br />
                <input name="radioTest38" type="radio" value="3">@item.Option3
                <br />
                <input name="radioTest38" type="radio" value="4">@item.Option4
            </p>
        }
}

