@model JapaneWebsite.Models.ViewModel
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <style>
        label {
            display: block;
            padding-left:20px;
        }

        input[type=submit] {
            margin-top: 15px;
        }

    </style>
    @{
        var count = 0;
        List<Question> list = new List<Question>();
        foreach (var a in Model.questions)
        {
            list.Add(a);
        }
    }

</head>
<body>
    <div class="container shadow" style="text-align:left;margin-top:80px">
        <form>
            @for (var item = 0; item < list.Count; item++)
            {

                count++;
                <div class="question">
                    <p class="alert alert-primary"><strong>@count. @list[item].Name</strong></p>
                    <label>
                        <input type="radio" name="@list[item].Name" value="@list[item].Option1">@list[item].Option1
                    </label>
                    <label>
                        <input type="radio" name="@list[item].Name" value="@list[item].Option2">@list[item].Option2
                    </label>
                    <label>
                        <input type="radio" name="@list[item].Name" value="@list[item].Option3">@list[item].Option3
                    </label>
                    <label>
                        <input type="radio" name="@list[item].Name" value="@list[item].Option4">@list[item].Option4
                    </label>
                </div>
            }
            <div id="content" class="text-center"></div>
            <div class="text-center" style="padding:10px">
                <input type="submit" formmethod="post" class="btn btn-outline-success" />
            </div>
            </form>
    </div>
    
    <script>
        function clearAnswers() {
            $("img").each(function () {
                $(this).remove();
            })
        }

        function markIncorrect(el) {
            var img = new Image();
            img.src = 'https://cdn2.iconfinder.com/data/icons/onebit/PNG/onebit_33.png';
            img.style.height = '20px';
            img.style.width = '20px';
            el.append(img);
        }

        function markCorrect(el) {
            var img = new Image();
            img.src = 'https://cdn2.iconfinder.com/data/icons/onebit/PNG/onebit_34.png';
            img.style.height = '20px';
            img.style.width = '20px';
            el.append(img);
            
        }
        $("form").on("submit", function (e) {
            e.preventDefault();
            clearAnswers();
            var point = 0;
            var quesCount = 0;
            $questions = $(".question");
            $questions.each(function () {
                var answer = $(this).find("input:checked"),
                    key = answer.attr("name"),
                    val = answer.attr("value");
                
                if (answer.length === 0) {
                    markIncorrect($(this).find("p"));
                    quesCount++;
                } else if (answers[key] !== val) {
                    markIncorrect($(this).find("p"));
                    quesCount++
                } else {
                    markCorrect(answer.parent());
                    quesCount++;
                    point++;
                }
              
            });
            setTimeout(function () {
                $("#content").html("Bạn đã đúng " + point + " trên " + quesCount);
            }, 100);
               
        });
        var answers = {
            "@list[0].Name": "@list[0].Answer"
        };
        
        @for(var g = 1; g < list.Count; g++)
        {
            <text>
                answers["@list[g].Name"]="@list[g].Answer";
            </text>
        }

    </script>
</body>
