@model JapaneWebsite.Test

@{
    ViewBag.Title = "Details";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1 class="text-center">Detail</h1>
    <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom shadow">
        <hr />
        <dl class="dl-horizontal" style="margin-right:90%">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Detail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Detail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Level.N)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Level.N)
            </dd>

        </dl>
    </div>
    <div class="text-center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdTest }, new { @class = "btn btn-outline-success" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark" })
    </div>
</main>