@model IEnumerable<JapaneWebsite.Question>

@{
    ViewBag.Title = "Index";

}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 ">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-primary" })
    <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom" style="margin-top:10px">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Option1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Option2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Option3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Option4)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Answer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Test.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:400px">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Option1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Option2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Option3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Option4)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Answer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Test.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IdQuestion }, new { @class = "btn btn-outline-success" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.IdQuestion }, new { @class = "btn btn-outline-warning" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdQuestion }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            </table>
        </div>  
</div>
</main>