@model JapaneWebsite.StudyPost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StudyPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level.N)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level.N)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThemeOfPost.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThemeOfPost.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdStudyPost }) |
    @Html.ActionLink("Back to List", "Index")
</p>
