@model IEnumerable<JapaneWebsite.Volcabulary>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kanji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Furigana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meaning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level.N)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kanji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Furigana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meaning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level.N)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdVol }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdVol }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdVol })
        </td>
    </tr>
}

</table>
