@model JapaneWebsite.Models.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}
@*<<<<<<< HEAD

<h2>Index</h2>


<div class="card shadow">
    <div class="card-header" style="height:50px;">
        <h4>Học tiếng Nhật</h4>
    </div>
    @Html.Partial("_ArticleHocTiengNhat", Model)

    <div class="card-footer text-right" style="">
        @Html.ActionLink("Xem thêm", "Index", "LearningPosts", null, new { @class = "card-link" })
    </div>
</div>

<hr />
<div class="card shadow">
    <div class="card-header" style="height:50px">
        <h4>Văn hóa</h4>
    </div>
    @Html.Partial("_ArticleVanHoaNhat", Model)
=======*@
<div style="margin-top:70px">
    <h2>Kết quả tìm kiếm:</h2>
    <div class="card shadow">
        @Html.Partial("_ArticleHocTiengNhat", Model)
        @Html.Partial("_ArticleVanHoaNhat", Model)
    </div>
    <hr />
</div>

