@model IEnumerable<JapaneWebsite.Volcabulary>
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}

<div style="margin-top:70px">
    <div class="card shadow">
        @Html.Partial("_ArticleTuVung", Model)
    </div>
    <hr />
</div>

@{
    if (((IPagedList)Model).PageNumber == 1)
    {
        @Html.ActionLink("Previous page", "IndexByLevel", new { Page_No = ((IPagedList)Model).PageNumber, SearchString = ViewBag.SearchString })
    }
    else
    {
        @Html.ActionLink("Previous page", "IndexByLevel", new { Page_No = ((IPagedList)Model).PageNumber - 1, SearchString = ViewBag.SearchString })
    }
}

Page @(((IPagedList)Model).PageCount < ((IPagedList)Model).PageNumber ? 0 : ((IPagedList)Model).PageNumber) in @(((IPagedList)Model).PageCount) (pages)|
@{
    if (((IPagedList)Model).PageNumber >= ((IPagedList)Model).PageCount)
    {
        @Html.ActionLink("Next page", "IndexByLevel", new { Page_No = ((IPagedList)Model).PageNumber, SearchString = ViewBag.SearchString })
    }
    else
    {
        @Html.ActionLink("Next page", "IndexByLevel", new { Page_No = ((IPagedList)Model).PageNumber + 1, SearchString = ViewBag.SearchString })
    }

}
