@model JapaneWebsite.Models.ViewModel

@{
    if (Model != null)
    {
        var i = 0;
        foreach (var item in Model.studyPosts)
        {


            <div class="card-body">
                <img class="rounded float-left col-2" alt="Error" src="@item.Img" />
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                @*<a href="#" class="btn btn-primary">Tiếp tục</a>*@
                @Html.ActionLink("Tiếp tục", "Details", "LearningPosts", new { id = @item.IdStudyPost }, new { @class = "btn btn-primary" })
            </div>
            <hr />
            i++;
            if (i == 3)
            { break; }
        }
    }
}


